body{
    font-family: "Poppins",sans-serif;
  
}

.container{
    max-width: 900px;
    margin: 0 auto;
    
    border-radius: 10px;
}

h1 {
    text-align:center;
    padding: 0 0 0 ;
    color:rgb(0, 0, 0)
}
.header {
    padding: 50px
}
h2 {
    text-align: center;
   
    padding: 30px;
    color:rgb(0, 0, 0);
    font-size: 64px;
}


#date {
    text-align: center;
   
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

footer {
    
    text-align: center;
}

.kard {

    border:0;
     padding:20px;
     background: rgba(27, 8, 8,0.01);
     box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.11);
     border-radius: 5px;
     display: grid;
     grid-template-rows: 0.5fr 1fr 2fr;
     align-items: end;
     
    
 
        
 }

.img-resp{
    display: block;
   width: 100%;
   align-self: end;
   
   
    
}

p 
{
    align-self: center;
   
  
}

.poster {

    
  
 
}


.grid {
    display: grid;
    grid-gap:60px;
}

.grid-1-1 {
grid-template-columns: 1fr 1fr;
}

.grid-1-2-2 {
grid-template-columns: 1fr 2fr 2fr;
}

.grid-1-1-1{
grid-template-columns: 1fr 1fr 1fr;
}


.cardsContainer {
    padding:40px
}




@media (max-width:960px){

    .grid{
        grid-template-columns: 1fr;
        grid-gap:32px;
    }

    h1, h2{
        text-align: center;
    }

}